.header_custom table thead > tr > th {
background-color: #2E86C1 !important;
color: white !important;
text-align: center!important;
}

.header_custom table thead > tr > th:nth-child(2) {
width: 200px !important;
}